<section>
    <div class="container-fluid bg-secondary mb-5" style="padding: 30px 0;">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="font-weight-semi-bold mb-3" style="font-size: 42px; font-weight: 800;">Edit Product</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a routerLink="/home">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Edit Product</p>
            </div>
        </div>
    </div>
</section>
<section class="create_section layout_padding">
    <div class="container">
       <div class="row" *ngIf="editProduct">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Edit Existing Product</span></h2>
        </div>
                <form [formGroup]="editFormGroup" (ngSubmit)="edit()">
                     <div class="d-flex-c">
                        <div>
                            <label>Cover Image:</label>
                            <div class="text-center">
                                <img [src]="imageToShow" style="max-height: 350px;max-width: 915px">
                            </div>
                            
                        </div>
                        <input class="file-input"
                                type="file"
                                [accept]="allowedExtensions"
                                name="image"
                                (change)="onFileSelected($event)"
                                formControlName="image"
                                /> 
                     </div>
                     <div>
                        <label>Title:</label>
                        <input type="text" formControlName="title" placeholder="Enter title">
                     </div> 
                      <div>
                        <label>Author:</label>
                        <ngx-select [allowClear]="true"
                           [items]="authorOptions"
                           optionValueField="id"
                           optionTextField="fullName"
                           placeholder="Choose author"
                           formControlName="author"
                           >
                        </ngx-select>
                      </div>
                     <div>
                        <label>Price:</label>
                        <input type="number" formControlName="price" [min]="1" placeholder="Enter price">
                        <div *ngIf="price!.invalid && (price!.dirty || price!.touched)" class="alert alert-danger mt-1">
                           <div *ngIf="price!.errors?.['required']">
                               Price is required
                           </div>
                           <div *ngIf="price!.errors?.['min']">
                              Price can not be less than $1
                          </div>
                       </div>
                     </div>
                     <div>
                        <label>ISBN:</label>
                        <input type="text" placeholder="Enter ISBN" name="isbn" disabled [value]="editProduct.isbn">
                     </div>
                     <div>
                        <label>Category:</label>
                        <ngx-select [allowClear]="true"
                                    [items]="categories"
                                    optionValueField="id"
                                    optionTextField="categoryName"
                                    placeholder="Choose category"
                                    name="category"
                                    formControlName="category"
                                    >
                        </ngx-select>
                     </div>
                     <div>
                        <label>Number of pages:</label>
                        <input type="number" formControlName="numOfPages" placeholder="Enter number of pages">
                        <div *ngIf="numOfPages!.invalid && (numOfPages!.dirty || numOfPages!.touched)" class="alert alert-danger mt-1">
                           <div *ngIf="numOfPages!.errors?.['required']">
                               Number of pages is required
                           </div>
                           <div *ngIf="numOfPages!.errors?.['min']">
                              Number of pages can not be less than 10
                          </div>
                       </div>
                     </div>
                     <div>
                        <label>Year of publication:</label>
                        <input type="number" placeholder="Enter year of publication" formControlName="yearOfPublication">
                        <div *ngIf="yearOfPublication!.invalid && (yearOfPublication!.dirty || yearOfPublication!.touched)" class="alert alert-danger mt-1">
                           <div *ngIf="yearOfPublication!.errors?.['required']">
                               Year of publication is required
                           </div>
                           <div *ngIf="yearOfPublication!.errors?.['min']">
                              Year of publication can not be older than 1900
                          </div>
                       </div>
                     </div>
                     <div>
                        <label>Units in stock:</label>
                        <input type="number" placeholder="Enter number of units in stock" formControlName="unitsInStock" [min]="0">
                     </div>
                     <div>
                        <label>Language:</label>
                        <ngx-select [allowClear]="true"
                                   [items]="languages"
                                   optionValueField="id"
                                   optionTextField="name"
                                   placeholder="Choose language"
                                   formControlName="language"
                                   >
                       </ngx-select>
                       <div *ngIf="language!.invalid && (language!.dirty || language!.touched)" class="alert alert-danger mt-1">
                        <div *ngIf="language!.errors?.['required']">
                            Language is required
                        </div>
                    </div>
                     </div>
                     <div>
                        <label>Description:</label>
                        <textarea placeholder="Enter description" formControlName="description"></textarea>
                        <div *ngIf="description!.invalid && (description!.dirty || description!.touched)" class="alert alert-danger mt-1">
                           <div *ngIf="description!.errors?.['required']">
                               Description is required
                           </div>
                           <div *ngIf="description!.errors?.['minlength']">
                              Description must be at least 10 characters long
                          </div>
                          <div *ngIf="description!.errors?.['maxlength']">
                           Description can have a maximum of 1000 characters
                       </div>
                       </div>
                     </div>
                     <div>
                        <button type="submit" >Edit Product</button>
                     </div>
                </form>
       </div>
    </div>
 </section>
