<section>
    <div class="container-fluid bg-secondary mb-5" style="padding: 30px 0;">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="font-weight-semi-bold mb-3" style="font-size: 42px; font-weight: 800;">Edit Product</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a routerLink="/home">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Edit Product</p>
            </div>
        </div>
    </div>
</section>
<section class="create_section layout_padding">
    <div class="container">
       <div class="row" *ngIf="editProduct">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Edit Existing Product</span></h2>
        </div>
                <form [formGroup]="editFormGroup" (ngSubmit)="edit()">
                     <div class="d-flex-c">
                        <div>
                            <label>Cover Image:</label>
                            <div class="text-center">
                                <img src="../../../../assets/images/about-us.jpg">
                            </div>
                            
                        </div>
                        <input class="file-input"
                                type="file"
                                accept=".jpg, .jpeg, .png"
                                name="image"
                                /> 
                     </div>
                     <div>
                        <label>Title:</label>
                        <input formControlName="title" type="text" placeholder="Enter title" name="title" [disabled]="true" [value]="product.name">
                        <div *ngIf="title!.invalid && (title!.dirty || title!.touched)" class="alert alert-danger mt-1">
                           <div *ngIf="title!.errors?.['required'] || title!.errors?.['notOnlyWhitespace']">
                               First Name is required
                           </div>

                       </div>
                     </div> 
                      <div>
                        <label>Author:</label>
                        <ngx-select [allowClear]="true"
                           [items]="authorOptions"
                           optionValueField="id"
                           optionTextField="fullName"
                           placeholder="Choose author"
                           name="author"
                           [(ngModel)]="editProduct.authorId"
                           [disabled]="true">
                        </ngx-select>
                      </div>
                     <div>
                        <label>Price:</label>
                        <input type="number" placeholder="Enter price" name="price" required [(ngModel)]="editProduct.unitPrice">
                     </div>
                     <div>
                        <label>ISBN:</label>
                        <input type="text" placeholder="Enter ISBN" name="isbn" disabled [value]="editProduct.isbn">
                     </div>
                     <div>
                        <label>Category:</label>
                        <ngx-select [allowClear]="true"
                                    [items]="categories"
                                    optionValueField="id"
                                    optionTextField="categoryName"
                                    placeholder="Choose category"
                                    [(ngModel)]="editProduct.categoryId"
                                    name="category"
                                    [disabled]="true"
                                    >
                        </ngx-select>
                     </div>
                     <div>
                        <label>Number of pages:</label>
                        <input type="number" placeholder="Enter number of pages" name="pages" required [(ngModel)]="editProduct.numOfPages">
                     </div>
                     <div>
                        <label>Year of publication:</label>
                        <input type="number" placeholder="Enter year of publication" name="year" required [(ngModel)]="editProduct.yearOfPublication">
                     </div>
                     <div>
                        <label>Language:</label>
                        <ngx-select [allowClear]="true"
                                   [items]="languages"
                                   optionValueField="id"
                                   optionTextField="name"
                                   placeholder="Choose language"
                                   name="language"
                                   [(ngModel)]="editProduct.languageId">
                       </ngx-select>
                     </div>
                     <div>
                        <label>Description:</label>
                        <textarea placeholder="Enter description" required name="description" [(ngModel)]="editProduct.description"></textarea>
                     </div>
                     <div>
                        <button type="submit" >Edit Product</button>
                     </div>
                </form>
       </div>
    </div>
 </section>
