<section>
    <div class="container-fluid bg-secondary mb-5" style="padding: 30px 0;">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="font-weight-semi-bold mb-3" style="font-size: 42px; font-weight: 800;">Shop detail</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a routerLink="/home">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0"><a routerLink="/products">Products</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop Detail</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid py-5" *ngIf="product">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <img class="w-100 h-100" src="../../../../assets/images/about-us.jpg" alt="Image">  
                
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{product.name}}</h3>
                <h5 class="font-weight-semi-bold mb-4">Author: <span class="text-primary">{{product.author.firstName}} {{product.author.lastName}}</span></h5>
                <h5 class="font-weight-semi-bold mb-4">Price: <span class="text-primary">{{product.unitPrice}}</span></h5>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 140px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus" (click)="decrementQuantity()">
                                <fa-icon [icon]="faMinus" class=" mr-1"></fa-icon>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" value='1' disabled [(ngModel)]="quantity" [max]="product.unitsInStock" min="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus" (click)="incrementQuantity()">
                                <fa-icon [icon]="faPlus" class=" mr-1"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <button (click)="addToCart()" class="btn btn-primary px-3"><fa-icon [icon]="faCart" class=" mr-1"></fa-icon> Add To Cart</button>
                </div>
                <div class="mb-2">
                    In stock: <span class="font-weight-semi-bold">{{product.unitsInStock}}</span>
                </div>
                <div class="mb-2">
                    ISBN: <span class="font-weight-semi-bold">{{product.isbn}}</span>
                </div>
                <div class="mb-2">
                    Category: <span class="font-weight-semi-bold">{{product.category.categoryName}}</span>
                </div>
                <div class="mb-2">
                    Language: <span class="font-weight-semi-bold">{{product.language.name}}</span>
                </div>
                <div class="mb-2">
                    Number of pages:<span class="font-weight-semi-bold">{{product.numOfPages}}</span>
                </div>
                <div class="mb-2">
                    Year of publication: <span class="font-weight-semi-bold">{{product.yearOfPublication}}</span>
                </div>
            </div>
            
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Product Description</h4>
                        <p>{{product.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>