.flex-column{
    flex-direction: column;
}
input{
    width: 75%;
    border: 1px solid #ccc !important;
}
input:focus-visible{
    outline: none !important;
}
.gap-5{
    gap: 5px;
}
.btn{
    height: 41px;
}