<section class="inner_page_head">
    <div class="container_fuild">
       <div class="row">
          <div class="col-md-12">
             <div>
                <h3>About us</h3>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="about">
        <div id="about-us">
            <div class="text-center">
                <img src="../../assets/images/about-us.jpg"/>
            </div>
            <div>
                    <h2>Our Values</h2>
                    <p>
                        <span>Passion for Reading:</span> We are book enthusiasts at heart and believe in the transformative power of reading. Our passion drives us to curate the best collection of books for our customers.
                    </p> 
                   <p>
                        <span>Customer Satisfaction:</span> Our customers are our top priority. We are dedicated to ensuring that every interaction with eBook Store is positive and rewarding.
                   </p> 
                   <p>
                        <span>Quality Service:</span> We strive to offer the best service, from the moment you visit our site to the moment your books arrive at your door. Your satisfaction is our success.
                   </p>
                   
                   <p>
                        <span>Community:</span> We believe in fostering a community of readers who can share their love for books. Through our platform, we aim to connect readers and authors from around the world.
                   </p>
            </div>
        </div>
</section>
<section>
    <div class="heading_container heading_center">
        <h2>
           Why Shop With Us
        </h2>
     </div>
     <div class="div-flex">
        <div>
            <div class="text-center">
                <fa-icon [icon]="faBook" class="text-primary "></fa-icon>
            </div>
            <p>
                <span>Extensive Collection:</span>
                Our store boasts a wide range of books from various genres and authors.
                From bestsellers to hidden gems, we strive to provide a diverse selection to satisfy every reader's taste.
            </p>
        </div>
        <div>
            <div class="text-center">
                <fa-icon [icon]="faMoney" class="text-primary "></fa-icon>
            </div>
            <p>
                <span>Affordable Prices:</span>
                We offer competitive pricing on all our books, along with frequent discounts and promotions, 
                ensuring that everyone can afford to enjoy their favorite books.
            </p>
        </div>
        <div>
            <div class="text-center">
                <fa-icon [icon]="faTruck" class="text-primary "></fa-icon>
            </div>
            <P>
                <span>Fast Delivery:</span>
                Enjoy quick and reliable delivery services. 
                We understand the excitement of receiving a new book, and we work hard to get your order to you as swiftly as possible.
            </P>
             
        </div>
        <div>
            <div class="text-center">
                <fa-icon [icon]="faHandshake" class="text-primary "></fa-icon>
            </div>
            <p>
                <span>Free Delivery:</span>
                Enjoy free and reliable delivery services. We understand the excitement of receiving a new book, 
            and we work hard to get your order to you swiftly without any additional cost.
            </p>
        </div>
     </div>
</section>