<section>
    <ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="../../../assets/images/book-home-1.jpg" />
			</div>
			<div class="carousel-caption">
				<h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="../../../assets/images/book-home-2.jpg"  />
			</div>
			<div class="carousel-caption">
				<h3>Second slide label</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</ng-template>
        <ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="../../../assets/images/books-home-4.jpg" />
			</div>
			<div class="carousel-caption">
				<h3>Second slide label</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</ng-template>
	</ngb-carousel>
</section>
<p>Discover your next read</p>
<p>Find the best book for a wide range of genres</p>
