<section class="inner_page_head">
    <div class="container_fuild">
       <div class="row">
          <div class="col-md-12">
             <div >
                <h3>Contact us</h3>
                <div class="d-inline-flex">
                    <p class="m-0"><a routerLink="/home">Home</a></p>
                    <p class="m-0 px-2 gray-text">-</p>
                    <p class="m-0 gray-text">Contact</p>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="faMobile" class="text-primary  "></fa-icon>
                    <h4>Phone</h4>
                    <p>+012 345 67890</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="faLocation" class="text-primary "></fa-icon>
                    <h4>Address</h4>
                    <p>123 Street,New York,USA</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="faClock" class="text-primary  "></fa-icon>
                    <h4>Open time</h4>
                    <p>08:00 am to 20:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="faEnvelope" class="text-primary  "></fa-icon>
                    <h4>Email</h4>
                    <p>{{'info@ebook.com'}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
 <section class="why_section layout_padding">
    <div class="container">
       <div class="row">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Contact For Any Queries</span></h2>
        </div>
                <form [formGroup]="emailFormGroup" (ngSubmit)="sendEmail()">
                     <div> 
                        <input type="text" formControlName="name" placeholder="Enter your full name" name="name" >
                        <div *ngIf="name!.invalid && (name!.dirty || name!.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="name!.errors?.['required']">
                                Name is required
                            </div>
                        </div>
                     </div> 
                      <div>
                        <input type="email" formControlName="email" placeholder="Enter your email address" name="email" >
                        <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger mt-1">

                            <div *ngIf="email!.errors?.['required']">
                                Email is required
                            </div>

                            <div *ngIf="email!.errors?.['pattern']">
                                Email must be a valid email address format
                            </div>

                        </div>
                      </div>
                     <div>
                        <input type="text" formControlName="subject" placeholder="Enter subject" name="subject">
                        <div *ngIf="subject!.invalid && (subject!.dirty || subject!.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="name!.errors?.['required']">
                                Subject is required
                            </div>
                        </div>
                     </div>
                     <div>
                        <textarea placeholder="Enter your message" name="message" formControlName="message" ></textarea>
                        <div *ngIf="message!.invalid && (message!.dirty || message!.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="message!.errors?.['required']">
                                Name is required
                            </div>
                            <div *ngIf="message!.errors?.['minlength']">
                                Message must be at least 25 characters long
                             </div>
                        </div>
                     </div>
                     <div>
                        <button type="submit" >Send Message</button>
                     </div>
                </form>
       </div>
    </div>
 </section>
