<section class="inner_page_head">
    <div class="container_fuild">
       <div class="row">
          <div class="col-md-12">
             <div >
                <h3>Contact us</h3>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="faMobile" class="text-primary  "></fa-icon>
                    <h4>Phone</h4>
                    <p>+012 345 67890</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="faLocation" class="text-primary "></fa-icon>
                    <h4>Address</h4>
                    <p>123 Street,New York,USA</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="faClock" class="text-primary  "></fa-icon>
                    <h4>Open time</h4>
                    <p>08:00 am to 20:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <fa-icon [icon]="faEnvelope" class="text-primary  "></fa-icon>
                    <h4>Email</h4>
                    <p>{{'info@ebook.com'}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
 <section class="why_section layout_padding">
    <div class="container">
       <div class="row">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Contact For Any Queries</span></h2>
        </div>
                <form >
                     <div> 
                        <input type="text" placeholder="Enter your full name" name="name" required>
                     </div> 
                      <div>
                        <input type="email" placeholder="Enter your email address" name="email" required>
                      </div>
                     <div>
                        <input type="text" placeholder="Enter subject" name="subject" required>
                     </div>
                     <div>
                        <textarea placeholder="Enter your message" required></textarea>
                     </div>
                     <div>
                        <button type="submit" >Send Message</button>
                     </div>
                </form>
       </div>
    </div>
 </section>
