<div class="card">
    <div class="delete-modal-header">
      <span class="action-form-title" *ngIf="userId">{{active?"Deactivation":"Activation"}}</span>
      <span class="action-form-title" *ngIf="productId">Deletion</span>
      <fa-icon [icon]="faTimes" style="cursor:pointer" (click)="closeModal($event)"></fa-icon>
    </div>
  
    <div class="card-body">
      <label class="form-control-label text-center" *ngIf="productId">
        Are you sure you want to delete product?
      </label>
      <label class="form-control-label text-center" *ngIf="userId">
        Are you sure you want to {{active?'deactivate':'activate'}} user?
      </label>
    </div>
  
    <div class="modal-footer modal-form-button-container">
      <button class="btn btn-primary"  (click)="closeModal($event)">
        No
      </button>
      <button class="btn btn-primary" (click)="deletionOrActivation()" >
        Yes
      </button>
    </div>
</div>
