<div class="p-4" style="z-index: 150;">
    <h5 class="font-weight-bold text-dark text-right" style="cursor: pointer; margin-bottom: 0 !important;" (click)="closeModal()">X</h5>
    <div class="container">
       <div class="row">
            <div class="text-center mt-3">
                <h2 class="section-title px-5"><span class="px-2">User Information</span></h2>
            </div>
        </div>
        <div class="d-flex-c" *ngIf="user">
            <div>
               <fa-icon [icon]="faUser" class="text-primary"></fa-icon> Name: <span>{{user.firstName + " "+ user.lastName}}</span>
            </div>
            <div>
                <fa-icon [icon]="faCircleUSer" class="text-primary"></fa-icon> Username: <span>{{user.userName}}</span>
            </div>
            <div style="margin-bottom: 5px;">
                <fa-icon [icon]="faEnvelope" class="text-primary"></fa-icon> Email: <span>{{user.email}}</span>
            </div>
            <div style="display: flex;gap:10px">
                <button class="btn btn-primary" (click)="goToEdit()">Edit Info</button>
                <button class="btn btn-primary" (click)="changePassword()">Change password</button>
            </div>
        </div>
        <div *ngIf="!user" class="alert alert-warning col-12" role="alert">
            <span> No user found.</span>
         </div>
    </div>
</div>