<section class="inner_page_head">
    <div class="container_fuild">
       <div class="row">
          <div class="col-md-12">
             <div>
                <h3>Register now</h3>
                <div class="d-inline-flex">
                  <p class="m-0"><a routerLink="/home">Home</a></p>
                  <p class="m-0 px-2 gray-text">-</p>
                  <p class="m-0 gray-text">Register</p>
              </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="why_section layout_padding">
    <div class="container">
       <div class="row">
        <div class="text-center mt-3">
            <h2 class="section-title px-5"><span class="px-2">Create Account</span></h2>
        </div>
                <form [formGroup]="registerFormGroup" (ngSubmit)="register()">
                     <div>
                        <label for="name">Name:</label>
                        <input type="text" placeholder="Enter your name" formControlName="firstName">
                        <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)" class="alert alert-danger mt-1">

                           <div *ngIf="firstName!.errors?.['required'] || firstName!.errors?.['notOnlyWhitespace']">
                               First Name is required
                           </div>

                           <div *ngIf="firstName!.errors?.['minlength']">
                               First Name must be at least 2 characters long
                           </div>

                       </div>
                     </div>
                     <div>
                        <label for="lastname">Lastname:</label>
                        <input type="text" placeholder="Enter your lastname" formControlName="lastName">
                        <div *ngIf="lastName!.invalid && (lastName!.dirty || lastName!.touched)" class="alert alert-danger mt-1">

                           <div *ngIf="lastName!.errors?.['required'] || lastName!.errors?.['notOnlyWhitespace']">
                               Last Name is required
                           </div>

                           <div *ngIf="lastName!.errors?.['minlength']">
                               Last Name must be at least 2 characters long
                           </div>

                       </div>
                    </div> 
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" placeholder="Enter your email address" formControlName="email" >
                        <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger mt-1">

                           <div *ngIf="email!.errors?.['required']">
                               Email is required
                           </div>
           
                           <div *ngIf="email!.errors?.['pattern']">
                               Email must be a valid email address format
                           </div>
           
                       </div>
                     </div>
                      <div>
                        <label for="username">Username:</label>
                        <input type="text" placeholder="Enter your username" formControlName="username">
                        <div *ngIf="username!.invalid && (username!.dirty || username!.touched)" class="alert alert-danger mt-1">

                           <div *ngIf="username!.errors?.['required'] || username!.errors?.['notOnlyWhitespace']">
                               Username is required
                           </div>
                           <div *ngIf="username!.errors?.['minlength']">
                              Last Name must be at least 2 characters long
                          </div>
                       </div>
                      </div>
                      <div>
                        <label for="password">Password:</label>
                        <input type="password" placeholder="Enter your password" formControlName="password">
                        <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="alert alert-danger mt-1">
                           <div *ngIf="password!.errors?.['required']">
                               Password is required
                           </div>
                           <div *ngIf="password!.errors?.['minlength']">
                                Password must be at least 5 characters long
                         </div>
                       </div>
                     </div>
                     <div>
                        <label for="confirmpassword">Confirme password:</label>
                        <input type="password" placeholder="Confirme your password" formControlName="confirmPassword" >
                        <div *ngIf="confirmPassword!.invalid && (confirmPassword!.dirty || confirmPassword!.touched)" class="alert alert-danger mt-1">
                           <div *ngIf="confirmPassword!.errors?.['required']">
                               Confirmation Password is required
                           </div>
                           <div *ngIf="confirmPassword!.errors?.['mustMatch']">
                              Passwords must match
                          </div>
                          <div *ngIf="confirmPassword!.errors?.['minlength']">
                             Password must be at least 5 characters long
                          </div>
                       </div>
                     </div>  
                     <div>
                        <button type="submit" >Create</button>
                     </div>
                </form>
       </div>
    </div>
 </section>