<section class="inner_page_head">
    <div class="container_fuild">
       <div class="row">
          <div class="col-md-12">
             <div>
                <h3>Register now</h3>
                <div class="d-inline-flex">
                  <p class="m-0"><a routerLink="/home">Home</a></p>
                  <p class="m-0 px-2 gray-text">-</p>
                  <p class="m-0 gray-text">Register</p>
              </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <section class="why_section layout_padding">
    <div class="container">
       <div class="row">
        <div class="text-center mt-3">
            <h2 class="section-title px-5"><span class="px-2">Create Account</span></h2>
        </div>
                <form >
                     <div>
                        <label for="name">Name:</label>
                        <input type="text" placeholder="Enter your name" name="name" required>
                     </div>
                     <div>
                        <label for="lastname">Lastname:</label>
                        <input type="text" placeholder="Enter your lastname" name="lastname" required>
                    </div> 
                     <div>
                        <label for="address">Address:</label>
                        <input type="text" placeholder="Enter your address" name="address" required>
                     </div> 
                     <div>
                        <label for="postcode">Postcode:</label>
                        <input type="text" placeholder="Enter postcode" name="postcode" required>
                     </div> 
                     <div>
                        <label for="city">City:</label>
                        <input type="text" placeholder="Enter your city" name="city" required>
                     </div>
                     <div>
                        <label for="country">Country:</label>
                        <input type="text" placeholder="Enter your country" name="country" required>
                     </div>  
                      <div>
                        <label for="email">Email:</label>
                        <input type="email" placeholder="Enter your email address" name="email" required>
                      </div>
                      <div>
                        <label for="username">Username:</label>
                        <input type="text" placeholder="Enter your username" name="username" required>
                      </div>
                      <div>
                        <label for="password">Password:</label>
                        <input type="password" placeholder="Enter your password" name="password" required>
                     </div>
                     <div>
                        <label for="confirmpassword">Confirme password:</label>
                        <input type="password" placeholder="Confirme your password" name="confirmpassword" required>
                     </div>  
                     <div>
                        <button type="submit" >Create</button>
                     </div>
                </form>
       </div>
    </div>
 </section>