<section>
    <div class="container-fluid bg-secondary mb-5" style="padding: 30px 0;">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="font-weight-semi-bold mb-3" style="font-size: 42px; font-weight: 800;">Our Shop</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a routerLink="/home">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid ">
        <div class="d-flex-end mb-3 px-xl-5" *ngIf="isAdmin">
            <button class="btn btn-primary btn-block border-0 " (click)="goToCreateNew()">Create New</button>
        </div>
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Category Start -->
                    <app-prodcut-category-filters></app-prodcut-category-filters>
                <!-- Category End -->

                <!-- Price Start -->
                    <app-product-price-filter (prices)="filterByPrice($event)"></app-product-price-filter>
                <!-- Price End -->
            </div>
            <!-- Shop Sidebar End -->

            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3 align-center">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search by name">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <fa-icon [icon]="faSearch" class="text-primary "></fa-icon>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <div class="dropdown ml-4"> 
                                <ngx-select [allowClear]="true"
                                    [items]="sortOptions"
                                    optionValueField="id"
                                    optionTextField="name"
                                     placeholder="Sort by"
                                     [(ngModel)]="selectedOption">
                                </ngx-select>
                            </div>
                        </div>
                    </div>
                    <!-- Products -->
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <ng-container *ngFor="let product of products">
                            <app-product routerLink="/products/{{product.id}}"></app-product>
                        </ng-container>

                        <div *ngIf="products?.length == 0" class="alert alert-warning col-12" role="alert">
                           <span> No products found.</span>
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="col-12 pb-1 d-flex-center">
                        <div class="select-page-size">
                            <span class="mr-2">Page Size</span>
                            <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                                <option selected="true">9</option>
                                <option>18</option>
                                <option>27</option>
                            </select>
                        </div>
                        <ngb-pagination
                                    [(page)]="pageNumber"
                                    [pageSize]="pageSize"
                                    [collectionSize]="totalElements"
                                    [maxSize]="3"
                                    [boundaryLinks]="true"
                                    (pageChange)="listProducts()">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
</section>

