 .dropdown{
    width: 180px;
   }
   
button{
    cursor: pointer;
    width: 180px;
    border: none;
    height: 41px;
    width: 180px;
    font-size: 16px;
    text-transform: capitalize;
    line-height: normal;
    background-color: var(--primary);
    font-weight: 600;
}
.d-flex-end{
    display: flex;
    justify-content: flex-end;
}
.alert{
    height: 32vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}
.align-center{
    justify-content: center;
    align-items: center;
}