form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: visible;
}
form > div {
    display: flex;
    flex-direction: column;
}
.modal-dialog{
    overflow-y: initial !important;
}
label{
    margin: 0 !important;
    color: var(--primary);
}
.line{
    background-color: var(--primary);
    width: 100%;
    height: 1px;
}
button{
    width: 50%;
    margin: auto;
}