<div class="p-4" style="z-index: 150; overflow-y: auto;">
    <h5 class="font-weight-bold text-dark mb-2 login-title text-right" style="cursor: pointer;"
    (click)="closeModal($event)" >X</h5>
    <h5 class="font-weight-bold text-dark mb-2 login-title text-center" style="font-size: 1.5rem !important;" >Edit User Info</h5>
    <div class=" line mb-2"></div>
    <div class="moda-body">
    <form [formGroup]="editFormGroup" (ngSubmit)="edit()">
        <div >
            <label for="name">Name:</label>
            <input type="text" placeholder="Enter your name" formControlName="firstName">
            <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)" class="alert alert-danger mt-1">

               <div *ngIf="firstName!.errors?.['required'] || firstName!.errors?.['notOnlyWhitespace']">
                   First Name is required
               </div>

               <div *ngIf="firstName!.errors?.['minlength']">
                   First Name must be at least 2 characters long
               </div>

           </div>
         </div>
         <div >
            <label for="lastname">Lastname:</label>
            <input type="text" placeholder="Enter your lastname" formControlName="lastName">
            <div *ngIf="lastName!.invalid && (lastName!.dirty || lastName!.touched)" class="alert alert-danger mt-1">

               <div *ngIf="lastName!.errors?.['required'] || lastName!.errors?.['notOnlyWhitespace']">
                   Last Name is required
               </div>

               <div *ngIf="lastName!.errors?.['minlength']">
                   Last Name must be at least 2 characters long
               </div>

           </div>
        </div> 
          <div >
            <label for="email">Email:</label>
            <input type="email" placeholder="Enter your email address" formControlName="email" >
            <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger mt-1">

               <div *ngIf="email!.errors?.['required']">
                   Email is required
               </div>

               <div *ngIf="email!.errors?.['pattern']">
                   Email must be a valid email address format
               </div>

           </div>
          </div>
          <div >
            <label for="username">Username:</label>
            <input type="text" placeholder="Enter your username" formControlName="username" >
            <div *ngIf="username!.invalid && (username!.dirty || username!.touched)" class="alert alert-danger mt-1">

               <div *ngIf="username!.errors?.['required'] || username!.errors?.['notOnlyWhitespace']">
                   Username is required
               </div>
               <div *ngIf="username!.errors?.['minlength']">
                  Last Name must be at least 2 characters long
              </div>
           </div>
          </div>
         <div class="line mb-2 mt-2"></div>  
        <div>
            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Edit</button>
        </div>
    </form>
    </div>
</div>
