<section>
    <div class="container-fluid bg-secondary mb-5" style="padding: 30px 0;">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="font-weight-semi-bold mb-3" style="font-size: 42px; font-weight: 800;">Shopping Cart</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a routerLink="/home">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shopping Cart</p>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5"  *ngIf="cartItems.length > 0">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr *ngFor="let tempCartItem of cartItems">
                        <td style="text-align: left;"><img  alt="" [src]="convertImage(tempCartItem.image,tempCartItem.imageExtension)" style="width: 50px;"> {{ tempCartItem.name }}</td>
                        <td class="align-middle">{{ tempCartItem.unitPrice | currency: 'USD' }}</td>
                        <td class="align-middle">
                            <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                                <div style="flex-basis: 0; max-width: 100%;">
                                    <button class="btn btn-sm btn-primary btn-minus" (click)="decrementQuantity(tempCartItem)">
                                        <fa-icon [icon]="faMinus"></fa-icon>
                                    </button>
                                </div>
                                <div class="bg-secondary text-center" style="flex-basis: 0; max-width: 25%; flex-grow: 1;display: flex; justify-content: center; align-items: center;">
                                    {{ tempCartItem.quantity }}
                                </div>
                                <div  style="flex-basis: 0; max-width: 100%;">
                                    <button class="btn btn-sm btn-primary btn-plus" [disabled]="tempCartItem.quantity>= tempCartItem.unitsInStock" (click)="incrementQuantity(tempCartItem)">
                                        <fa-icon [icon]="faPlus"></fa-icon>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">{{ tempCartItem.quantity * tempCartItem.unitPrice | currency: 'USD' }}</td>
                        <td class="align-middle">
                            <button class="btn btn-sm btn-primary"  (click)="remove(tempCartItem)">
                                <fa-icon [icon]="faTimes"></fa-icon>
                            </button>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
        <div class="col-lg-4" *ngIf="cartItems.length > 0">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Total quantity</h6>
                        <h6 class="font-weight-medium">{{totalQuantity}}</h6>
                    </div>
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">{{totalPrice | currency: 'USD'}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">{{shipping === 0? 'Free':(shipping | currency:'USD')}}</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">{{totalPrice + shipping | currency: 'USD'}}</h5>
                    </div>
                    <button routerLink="/checkout" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                </div>
            </div>
        </div>
        <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" style="text-align: center;">
            Your shopping cart is empty. 
        </div>
    </div>
</div>
