fa-icon{
    font-size: 24px !important;
}
td a{
    margin-right: 10px; 
    cursor: pointer;
}
th{
    background-color: var(--secondary);
}
.display-none{
    display: none;
}
.show{
    display: inline-block;
}

.created{
    color: var(--primary) !important;
}
.approved{
    color: var(--success) !important;
}
.rejected{
    color: var(--danger) !important;
}